@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,1,0");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input {
  font-family: inherit;
}

li {
  list-style: none;
}

#content-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 4fr;
  grid-template-columns: minmax(250px, 0.5fr) 4fr;
}

#title {
  grid-column: span 2;
  justify-self: center;
  align-self: center;
}

#projects-sidebar {
  margin: 6px;
}

#projects-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

#projects-header {
  font-size: 20px;
}

#add-projects-btn {
  font-size: 28px;
  background-color: white;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
}

#projects-container {
  display: flex;
  flex-direction: column;
}

.project-name-input {
  padding: 3px 6px;
  border: solid 1px rgb(177, 177, 177);
  font-size: 20px;
  margin: 4px;
}

.project-name-input:focus {
  outline: none;
}

.project-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 4px;
  font-size: 18px;
}

.edit-project {
  cursor: pointer;
  border: none;
  background-color: white;
}
